<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meteo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/css/login.css" rel="stylesheet">
</head>
<body>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->



        <!-- Login Form -->
        <form>
            <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="text" id="phone" class="fadeIn third" name="phone" placeholder="Phone number">
            <input type="button" class="fadeIn fourth" id="process-phone-button" value="Get code" onclick="processPhone()">
            <input type="text" class="fadeIn fourth" placeholder="Enter code from SMS">
            <input type="button" class="fadeIn fourth" value="Sign up" onclick="register()" disabled>
        </form>


    </div>
</div>


<!-- Script -->
<script src="/js/registration.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>